body{
    padding: 1rem 1rem;

    /*overflow-x: hidden;*/
}

.canvasContainer {
    height: 70vh;
    border: 1px solid black;
}

#mainCanvas {
    width: 100%;
    height: 100%;
}

.controls {
    margin-inline: auto;
}

.controls input {
    width: 30rem;
}

@media (max-width: 37rem) {
    .canvasContainer {
        height: 50vh;
    }

    .controls {
        width: 100%;
    }

    .controls input{
        width: 100%;
    }

    .timelineContainer {
        flex-direction: column;
    }

    .resolutionContainer {
        flex-direction: column;
    }
}
.newNoise {
    display: block;
    margin-inline: auto;
}
