/* Main Content */
.main-content {
    margin-inline: auto;
}

.canvas-container {
    margin: auto;

    height: 70vh;
    max-width: 100%;

    aspect-ratio: 13/23;
    border: 1px solid black;
}

.main-canvas {
    width: 100%;
    height: 100%;
}

.sliders {
    margin-inline: auto;
}

@media (max-width: 33rem) {
    .canvas-container {
        height: auto;
        width: 100%;

        aspect-ratio: 13/23;
        border: 1px solid black;
    }
}

/* End Main Content */
