.logo {
    margin: 2rem;
}

.logo > p {
    white-space: nowrap;
    overflow: hidden;
}

.primary-header {
    align-items: center;
    font: "ff-sans-cond";
}

.primary-navigation {

    padding-block: 2rem;
    padding-inline: clamp(1rem, 10vw, 10rem);

    background: hsl(0 0% 0% / 0.75);

    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 80%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    flex-direction: column;
    padding: min( 30vh, 10rem) 2rem;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

@media (max-width: 65rem) {
    .primary-navigation {
        inset: 0 0 0 60%;
    }
}

@media (max-width: 33rem) {
    .primary-navigation {
        inset: 0 0 0 10%;
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

.mobile-nav-toggle {
    display: inline-block;
    position: absolute;
    z-index: 9999;

    border: 0;

    width: 1.5rem;
    aspect-ratio: 1;

    margin-block: auto;
    right: 2rem;

    background: none;

    cursor: pointer;
}
