/* Main Content */
.main-content {
    margin-inline: auto;
}

.display-container {
    margin-inline: auto;
    height: 70vh;
    border: 1px solid black;
}

.sliders {
    margin-inline: auto;
}

@media (max-width: 28rem) {
    .display-container {
        height: auto;
        width: 100%;
    }
}

/* End Main Content */
