.canvasContainer {
    height: 70vh;
    border: 1px solid black;
}

.controls {
    margin-inline: auto;
}

input.slider {
    width: 30rem;
}

@media (max-width: 38rem) {
    .canvasContainer {
        height: 50vh;
    }

    .controls {
        width: 100%;
    }

    input.slider {
        width: 100%;
    }

    .control {
        flex-direction: column;
    }
}
.newNoise {
    display: block;
    margin-inline: auto;
}
